html/lich-su.html
<!DOCTYPE html>
<html>
  <head><meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Booking giai dau">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../css/main.css"><link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"><link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css" />
  </head>
  <body class="d-flex flex-column justify-content-between">
    <header>
      <div class="container d-flex justify-content-between">
        <div class="logo"><a href="/"><img src="../image/logo.png"></a></div>
        <nav>
          <ul class="d-flex justify-content-between">
            <li><a href=""><img class="text-normal" src="../image/text_normal/text_1.png"><img class="text-active" src="../image/text_active/text_1.png"></a></li>
            <li><a href=""><img class="text-normal" src="../image/text_normal/text_2.png"><img class="text-active" src="../image/text_active/text_2.png"></a></li>
            <li><a href=""><img class="text-normal" src="../image/text_normal/text_3.png"><img class="text-active" src="../image/text_active/text_3.png"></a></li>
            <li><a href=""><img class="text-normal" src="../image/text_normal/text_4.png"><img class="text-active" src="../image/text_active/text_4.png"></a></li>
            <li><a href=""><img class="text-normal" src="../image/text_normal/text_5.png"><img class="text-active" src="../image/text_active/text_5.png"></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="d-flex align-items-end">
      <div class="container">
        <div class="content lich-su d-flex justify-content-center">
          <div class="my-content">
            <table border="1">
              <tr>
                <th> STT</th>
                <th>Thời gian</th>
                <th>Kết quả quay số</th>
                <th>Code</th>
              </tr>
              <tr>
                <td>1</td>
                <td>10:25:31 - 20/10/2017</td>
                <td>Hộp ngọc siêu cấp</td>
                <td>VHA_0909%00</td>
              </tr>
              <tr>
                <td>2</td>
                <td>10:25:31 - 20/10/2017</td>
                <td>Hộp ngọc siêu cấp</td>
                <td>VHA_0909%00</td>
              </tr>
              <tr>
                <td>3</td>
                <td>10:25:31 - 20/10/2017</td>
                <td>Hộp ngọc siêu cấp</td>
                <td>VHA_0909%00</td>
              </tr>
              <tr>
                <td>4</td>
                <td>10:25:31 - 20/10/2017</td>
                <td>Hộp ngọc siêu cấp</td>
                <td>VHA_0909%00</td>
              </tr>
              <tr>
                <td>5</td>
                <td>10:25:31 - 20/10/2017</td>
                <td>Hộp ngọc siêu cấp</td>
                <td>VHA_0909%00</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </main>
    <div class="bottom">
      <div class="container"><img class="reward" src="../image/qua_bg.png">
        <div>
          <table border="1">
            <tr>
              <td>Số Kul Xu Chuyển Vào Game</td>
              <td>Điểm</td>
              <td>Lần Quay Nhận</td>
            </tr>
            <tr>
              <td>10.000 xu</td>
              <td>10 điểm</td>
              <td>1</td>
            </tr>
          </table>
          <div class="reward">
            <p class="title">Các giải thưởng như:</p>
            <p>  Điện thoại, thẻ Zing, Gối, Bình nước, Tank sẽ trao sau khi kết thúc sự kiện</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery-3.3.1.min.js"></script><script src="../js/jquery.mCustomScrollbar.js"></script>
    <script src="../js/custom-scroll.js"></script>
  </body>
</html>

build/lich-su.pug
extends ../layout.pug
block append head
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css" />
block content
    .content.lich-su.d-flex.justify-content-center
        .my-content
            table(border='1')
                tr
                    th  STT
                    th Thời gian
                    th Kết quả quay số
                    th Code
                each val in [1, 2, 3, 4, 5]
                    tr
                        td= val
                        td 10:25:31 - 20/10/2017
                        td Hộp ngọc siêu cấp
                        td VHA_0909%00
block append javascripts
    <script src="../js/jquery.mCustomScrollbar.js"></script>
    script(src="../js/custom-scroll.js")
