build/quay-so.pug
extends ../layout.pug
block content
    .wrap-popup.d-flex.align-items-center
        .popup
            .popup__header
                |Thông báo
                div#close_popup
            .popup__content
                .title XIN CHÚC MỪNG
                p Bạn đã quay trúng
                img(src="../image/qua/q1.png")
    .content.quay-so.d-flex.align-items-center.justify-content-center
        div#roll
block javascripts
    script(src="../js/main.js")

html/quay-so.html
<!DOCTYPE html>
<html>
  <head><meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Booking giai dau">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../css/main.css"><link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  </head>
  <body class="d-flex flex-column justify-content-between">
    <header>
      <div class="container d-flex justify-content-between">
        <div class="logo"><a href="/"><img src="../image/logo.png"></a></div>
        <nav>
          <ul class="d-flex justify-content-between">
            <li><a href=""><img class="text-normal" src="../image/text_normal/text_1.png"><img class="text-active" src="../image/text_active/text_1.png"></a></li>
            <li><a href=""><img class="text-normal" src="../image/text_normal/text_2.png"><img class="text-active" src="../image/text_active/text_2.png"></a></li>
            <li><a href=""><img class="text-normal" src="../image/text_normal/text_3.png"><img class="text-active" src="../image/text_active/text_3.png"></a></li>
            <li><a href=""><img class="text-normal" src="../image/text_normal/text_4.png"><img class="text-active" src="../image/text_active/text_4.png"></a></li>
            <li><a href=""><img class="text-normal" src="../image/text_normal/text_5.png"><img class="text-active" src="../image/text_active/text_5.png"></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="d-flex align-items-end">
      <div class="container">
        <div class="wrap-popup d-flex align-items-center">
          <div class="popup">
            <div class="popup__header">Thông báo
              <div id="close_popup"></div>
            </div>
            <div class="popup__content">
              <div class="title">XIN CHÚC MỪNG</div>
              <p>Bạn đã quay trúng</p><img src="../image/qua/q1.png">
            </div>
          </div>
        </div>
        <div class="content quay-so d-flex align-items-center justify-content-center">
          <div id="roll"></div>
        </div>
      </div>
    </main>
    <div class="bottom">
      <div class="container"><img class="reward" src="../image/qua_bg.png">
        <div>
          <table border="1">
            <tr>
              <td>Số Kul Xu Chuyển Vào Game</td>
              <td>Điểm</td>
              <td>Lần Quay Nhận</td>
            </tr>
            <tr>
              <td>10.000 xu</td>
              <td>10 điểm</td>
              <td>1</td>
            </tr>
          </table>
          <div class="reward">
            <p class="title">Các giải thưởng như:</p>
            <p>  Điện thoại, thẻ Zing, Gối, Bình nước, Tank sẽ trao sau khi kết thúc sự kiện</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/main.js"></script>
  </body>
</html>
